nav {
    color: #CFB1B7;
    background-color: #8D9F87;
    border: solid 2px #36382E;
}
.jumbotron {
    background-color: #36382E;
    color: #CFB1B7;
}
.jumbotron img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: auto;
    display: block;
    padding: 20px;
}
.jumbotron h1 {
    text-align: center;
}
.jumbotron p {
    text-align: justify;
}
.course-contents {
   background-color: #8D9F87; 
   color: #CFB1B7;
   padding: 5px;
   flex-wrap: wrap;
   display: flex;
   width: auto;
   margin-left: auto;
   margin-right: auto;
}
body {
    background-color: #8D9F87;
    width: 100vw;
}
.session {
    background-color: #57467B ;
    color:  #CFB1B7;
    border: solid 2px #36382E;
    margin: 15px;
}
.card spacer {
    border: none;
    margin: none;
    background-color: #8D9F87;
}
section {
    margin-left: auto;
    margin-right: auto;
}
.Javascript-game {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
}
.contact-me {
    text-align: center;
    color:  #CFB1B7;
}
